<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">List of Cases</h1>
    </div>
</div>
<div class="search-bar">
    <input type="search" placeholder="search" class="topcoat-search-input search-key" style="width:50%;">
    <input type="button" id= "submit_value" value="submit" class="topcoat-button">
</div>

<div class="topcoat-list__container scroller" style="top:138px;">
</div>