<ul class="topcoat-list list">
<% _.each(employees, function(employee) { %>
    <li class="topcoat-list__item">
        <a href="#medical_Lists/<%= employee._id %>">
        	<p><%= employee.title %></p>
        	<% var image = $.parseJSON(employee.medical_images) %>
        	<img class='employee-image' src=<%= image[0].base_url %> /> 
            <p><%= employee._id %></p>
            <p><%= employee.description %></p>
        </a>
    </li>
<% }); %>
</ul>