<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Case Details</h1>
    </div>
</div>

<div class = "details">
    <h1><%= title %></h1>
    <% var images = $.parseJSON(medical_images) %>
    <% _.each(images,function(image){ %>
    <img src=<%= image.base_url %> /> 
    <% }); %>

    <% var aur = $.parseJSON(author); %>
    <h1><%= aur.email %></h1>

    <p><%= description %></p>


</div>
        