<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Employee</h1>
    </div>
</div>

<div class ='details'>
	<img class='employee-image' src=<%= user.avatar_url %> />
    <h1><%= user.name %> </h1>
    <h2><%= user.bio %></h2>

</div>
        