<ul class="topcoat-list list">
<% _.each(employees, function(employee) { %>
    <li class="topcoat-list__item">
        <a href="#employees/<%= employee._id %>">
            <p><%= employee.name %></p>
            <p><%= employee.login %></p>
        </a>
    </li>
<% }); %>
</ul>