
   <div>
       
        <input type="text" name="fullname" id="fullname" placeholder="Full Name" class="required"> 
        <input type="email" name="email" id="email" placeholder="Email" class="required">
        <input type="text" name="profession" id="profession" placeholder="Profession" class="required">
        <input type="text" name="day" id="day" placeholder="Area of interest" class="required" >
        <input type="text" name="speci" id="speci" placeholder="Specialization" class="required" >

     
        <input type="checkbox" value="accept" name="accept" id="accept" class="required">
		 
      <input type = "button" class="buttom" name="submit" id="submit" tabindex="5" value="Sign me up!">
    </div>
    